<h2>Fleet Manager: <%= @user.username %></h2>

<h3>Current Fleet:</h3>

<% if current_user.id != session[:user_id] %>
  <% if @user.planes == [] %>
    <p>#: Fleet is currently empty</p>
  <% else %>
    <% @user.planes.each.with_index(1) do |plane, i| %>
    <p>#<%= i %>: <%= plane.identifier %></p>
    <% end %>
  <% end %>
<% else %>
  <% if @user.planes == [] %>
    <p>#: Fleet is currently empty</p>
  <% else %>
    <% @user.planes.each.with_index(1) do |plane, i| %>
    <p>#<%= i %>: <%= plane.identifier %> <a href="/planes/<%= plane.slug %>/edit">Edit</a></p>
    <form id="delete_form" method="post" action="/planes/<%=plane.slug%>">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" id="delete_text" value="Delete <%=plane.identifier%>">
    </form>
    <p>Model: <%= plane.model %></p>
    <p>Serial Number: <%= plane.serial_number %></p>
    <p>Base: <%= plane.base %></p>
    <br>
    <% end %>
  <% end %>
<% end %>
