<h2>Fleet Manager: <%= @user.username %></h2>

<h3>Current Fleet:</h3>

<% if current_user.id != session[:user_id] %>
  <% if @user.planes == [] %>
    <p>#: Fleet is currently empty</p>
  <% else %>
    <% @user.planes.each.with_index(1) do |plane, i| %>
    <p>#<%= i %>: <%= plane.identifier %></p>
    <% end %>
  <% end %>
<% else %>
  <% if @user.planes == [] %>
    <p>#: Fleet is currently empty</p>
  <% else %>
    <% @user.planes.each.with_index(1) do |plane, i| %>
    <p>#<%= i %>: <a href="/planes/<%= plane.identifier %>/edit">Edit <%= plane.identifier %></a>
    or <span id="delete_text"><a href="/planes/<%= plane.identifier %>/delete">Delete</a></span>
    </p>
    <p>Model: <%= plane.model %></p>
    <p>Serial Number: <%= plane.serial_number %></p>
    <p>Base: <%= plane.base %></p>
    <% end %>
  <% end %>
<% end %>
